[submodule "gestor-de-clientes"]
	path = gestor-de-clientes
	url = https://github.com/Vacilon/gss-gestor-de-clientes.git
	branch = master
[submodule "notificador"]
	path = notificador
	url = https://github.com/Vacilon/gss-notificador.git
	branch = master
[submodule "pagos"]
	path = pagos
	url = https://github.com/Vacilon/gss-pagos.git
	branch = master
